html, body {
  height: 100%;
}

#example, .App {
  height: 100%;
}

.page-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page-container > * {
  position: absolute;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity .125s ease-in;
  transition-delay: .125s;
}

.fade-leave {
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity .125s ease-out;
}

.slide-enter {
  transform: translate3d(100%, 0, 0);
}
.slide-enter.slide-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all .25s ease-in;
}

.slide-leave {
  transform: translate3d(0, 0, 0);
}
.slide-leave.slide-leave-active {
  transform: translate3d(-100%, 0, 0);
  transition: all .25s ease-out;
}
